html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
/* makes iframe's resizable and change's background color */
iframe {
  height: 300px;
  width: 300px;
  resize: both;
  overflow: auto;
  background-color: white;
}
